<div *ngIf='projectRule'>
  <form #manageRule="ngForm">
    <fieldset>
      <legend class="label is-large">Rule</legend>
      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label for="name" class="label">Name</label>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control">
              <input type="text" id="ruleName" required [(ngModel)]="projectRule.rule.name" name="name" class="input" [readonly]="isConsult()">
            </div>
          </div>
        </div>
      </div>
      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label for="location" class="label">Location</label>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control">
              <input type="text" id="location" required [(ngModel)]="projectRule.location" name="location" class="input" [readonly]="isConsult()">
            </div>
          </div>
        </div>
      </div>
    </fieldset>
    <fieldset>
      <legend class="label ">Request</legend>
      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label for="method" class="label">Method</label>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control">
              <input type="text" id="ruleRequestMethod" required [(ngModel)]="projectRule.rule.request.method" name="method" class="input"
                [readonly]="isConsult()">
            </div>
          </div>
        </div>
      </div>
      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label for="path" class="label">Path</label>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control">
              <input type="text" id="ruleRequestPath" required [(ngModel)]="projectRule.rule.request.path" name="path" class="input" [readonly]="isConsult()">
            </div>
          </div>
        </div>
      </div>
    </fieldset>
    <fieldset>
      <legend class="label ">Response</legend>
      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label for="templatingEngine" class="label">Templating</label>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control">
              <input type="text" id="ruleResponseTemplatingEngine" required [(ngModel)]="projectRule.rule.response.templatingEngine" name="templatingEngine"
                class="input" [readonly]="isConsult()">
            </div>
          </div>
        </div>
      </div>
      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label for="contentType" class="label">Content-Type</label>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control">
              <input type="text" id="ruleResponseContentType" required [(ngModel)]="projectRule.rule.response.contentType" name="contentType"
                class="input" [readonly]="isConsult()">
            </div>
          </div>
        </div>
      </div>
      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label for="statusCode" class="label">Status code</label>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control">
              <input type="text" id="ruleResponseStatusCode" required [(ngModel)]="projectRule.rule.response.statusCode" name="statusCode"
                class="input" [readonly]="isConsult()">
            </div>
          </div>
        </div>
      </div>
      <div class="field is-horizontal" *ngFor="let ruleResponseHeader of projectRule.rule.response.headers; let i = index">
        <div class="field-label is-normal">
          <label for="headers" class="label">{{i === 0 ? 'Headers' : ''}}</label>
        </div>
        <div class="field-body" name="headers">
          <div class="field">
            <div class="control">
              <input type="text" id="ruleResponseHeaderName" required [(ngModel)]="ruleResponseHeader.name" class="input" [readonly]="isConsult()"
                placeholder="name" name="ruleResponseHeaderName-{{i}}">
            </div>
          </div>
          <div class="field">
            <div class="control">
              <input type="text" id="ruleResponseHeaderValue" required [(ngModel)]="ruleResponseHeader.value" class="input" [readonly]="isConsult()"
                placeholder="value" name="ruleResponseHeaderValue-{{i}}">
            </div>
          </div>
          <div class="field" *ngIf="!isConsult()">
            <div class="control">
              <button (click)="removeHeader(i)" class="button is-primary">Remove</button>
            </div>
          </div>
        </div>
      </div>
      <div class="field is-horizontal" *ngIf="!isConsult()">
        <div class="field-label is-normal">
          <label class="label">{{projectRule.rule.response.headers && projectRule.rule.response.headers.length > 0 ? '' : 'Headers' }}</label>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control">
              <input type="text" id="newResponseHeaderName" required [(ngModel)]="newHeader.name" class="input" placeholder="name" name="newResponseHeaderName">
            </div>
          </div>
          <div class="field">
            <div class="control">
              <input type="text" id="newResponseHeaderValue" required [(ngModel)]="newHeader.value" class="input" placeholder="value" name="newResponseHeaderValue">
            </div>
          </div>
          <div class="field">
            <div class="control">
              <button (click)="addNewHeader()" class="button is-primary">Add</button>
            </div>
          </div>
        </div>
      </div>
      <div class="field is-horizontal" *ngFor="let ruleResponseCookie of projectRule.rule.response.cookies; let i = index">
        <div class="field-label is-normal">
          <label for="cookies" class="label">{{i === 0 ? 'Cookies' : ''}}</label>
        </div>
        <div class="field-body" name="cookies">
          <div class="field">
            <div class="control">
              <input type="text" id="ruleResponseCookieName" required [(ngModel)]="ruleResponseCookie.name" class="input" [readonly]="isConsult()"
                placeholder="name" name="ruleResponseCookieName-{{i}}">
            </div>
          </div>
          <div class="field">
            <div class="control">
              <input type="text" id="ruleResponseCookieValue" required [(ngModel)]="ruleResponseCookie.value" class="input" [readonly]="isConsult()"
                placeholder="value" name="ruleResponseCookieValue-{{i}}">
            </div>
          </div>
          <div class="field">
            <!-- TODO make this a component -->
            <div class="control">
              <div class="field is-horizontal">
                <div class="field-label is-normal">
                  <label for="ruleResponseCookiePropertyHttpOnly" class="label">httpOnly</label>
                </div>
                <div class="field-body" name="ruleResponseCookiePropertyHttpOnly">
                  <input type="text" id="ruleResponseCookiePropertyHttpOnly" required [(ngModel)]="ruleResponseCookie.properties.httpOnly"
                    class="input" [readonly]="isConsult()" name="ruleResponseCookiePropertyHttpOnly-{{i}}">
                </div>
              </div>
              <div class="field is-horizontal">
                <div class="field-label is-normal">
                  <label for="ruleResponseCookiePropertySecure" class="label">secure</label>
                </div>
                <div class="field-body" name="ruleResponseCookiePropertySecure">
                  <input type="text" id="ruleResponseCookiePropertySecure" required [(ngModel)]="ruleResponseCookie.properties.secure" class="input"
                    [readonly]="isConsult()" name="ruleResponseCookiePropertySecure-{{i}}">
                </div>
              </div>
              <div class="field is-horizontal">
                <div class="field-label is-normal">
                  <label for="ruleResponseCookiePropertyDomain" class="label">domain</label>
                </div>
                <div class="field-body" name="ruleResponseCookiePropertyDomain">
                  <input type="text" id="ruleResponseCookiePropertyDomain" required [(ngModel)]="ruleResponseCookie.properties.domain" class="input"
                    [readonly]="isConsult()" name="ruleResponseCookiePropertyDomain-{{i}}">
                </div>
              </div>
              <div class="field is-horizontal">
                <div class="field-label is-normal">
                  <label for="ruleResponseCookiePropertyEncode" class="label">encode</label>
                </div>
                <div class="field-body" name="ruleResponseCookiePropertyEncode">
                  <input type="text" id="ruleResponseCookiePropertyEncode" required [(ngModel)]="ruleResponseCookie.properties.encode" class="input"
                    [readonly]="isConsult()" name="ruleResponseCookiePropertyEncode-{{i}}">
                </div>
              </div>
              <div class="field is-horizontal">
                <div class="field-label is-normal">
                  <label for="ruleResponseCookiePropertyExpires" class="label">expires</label>
                </div>
                <div class="field-body" name="ruleResponseCookiePropertyExpires">
                  <input type="text" id="ruleResponseCookiePropertyExpires" required [(ngModel)]="ruleResponseCookie.properties.expires" class="input"
                    [readonly]="isConsult()" name="ruleResponseCookiePropertyExpires-{{i}}">
                </div>
              </div>
              <div class="field is-horizontal">
                <div class="field-label is-normal">
                  <label for="ruleResponseCookiePropertyMaxAge" class="label">max-age</label>
                </div>
                <div class="field-body" name="ruleResponseCookiePropertyMaxAge">
                  <input type="text" id="ruleResponseCookiePropertyMaxAge" required [(ngModel)]="ruleResponseCookie.properties.maxAge" class="input"
                    [readonly]="isConsult()" name="ruleResponseCookiePropertyMaxAge-{{i}}">
                </div>
              </div>
              <div class="field is-horizontal">
                <div class="field-label is-normal">
                  <label for="ruleResponseCookiePropertyPath" class="label">path</label>
                </div>
                <div class="field-body" name="ruleResponseCookiePropertyPath">
                  <input type="text" id="ruleResponseCookiePropertyPath" required [(ngModel)]="ruleResponseCookie.properties.path" class="input"
                    [readonly]="isConsult()" name="ruleResponseCookiePropertyPath-{{i}}">
                </div>
              </div>
              <div class="field is-horizontal">
                <div class="field-label is-normal">
                  <label for="ruleResponseCookiePropertySigned" class="label">signed</label>
                </div>
                <div class="field-body" name="ruleResponseCookiePropertySigned">
                  <input type="text" id="ruleResponseCookiePropertySigned" required [(ngModel)]="ruleResponseCookie.properties.signed" class="input"
                    [readonly]="isConsult()" name="ruleResponseCookiePropertySigned-{{i}}">
                </div>
              </div>
              <div class="field is-horizontal">
                <div class="field-label is-normal">
                  <label for="ruleResponseCookiePropertySameSite" class="label">same-site</label>
                </div>
                <div class="field-body" name="ruleResponseCookiePropertySameSite">
                  <input type="text" id="ruleResponseCookiePropertySameSite" required [(ngModel)]="ruleResponseCookie.properties.sameSite"
                    class="input" [readonly]="isConsult()" name="ruleResponseCookiePropertySameSite-{{i}}">
                </div>
              </div>
            </div>
          </div>
          <div class="field" *ngIf="!isConsult()">
            <div class="control">
              <button (click)="removeCookie(i)" class="button is-primary">Remove</button>
            </div>
          </div>
        </div>
      </div>
      <div class="field is-horizontal" *ngIf="!isConsult()">
        <div class="field-label is-normal">
          <label class="label">{{projectRule.rule.response.cookies && projectRule.rule.response.cookies.length > 0 ? '' : 'Cookies' }}</label>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control">
              <input type="text" id="newResponseCookieName" required [(ngModel)]="newCookie.name" class="input" placeholder="name" name="newResponseCookieName">
            </div>
          </div>
          <div class="field">
            <div class="control">
              <input type="text" id="newResponseCookieValue" required [(ngModel)]="newCookie.value" class="input" placeholder="value" name="newResponseCookieValue">
            </div>
          </div>
          <div class="field">
            <!-- TODO make this a component -->
            <div class="control">
              <div class="field is-horizontal">
                <div class="field-label is-normal">
                  <label for="newResponseCookiePropertyHttpOnly" class="label">httpOnly</label>
                </div>
                <div class="field-body" name="newResponseCookiePropertyHttpOnly">
                  <input type="text" id="newResponseCookiePropertyHttpOnly" required [(ngModel)]="newCookie.properties.httpOnly"
                    class="input" name="newResponseCookiePropertyHttpOnly">
                </div>
              </div>
              <div class="field is-horizontal">
                <div class="field-label is-normal">
                  <label for="newResponseCookiePropertySecure" class="label">secure</label>
                </div>
                <div class="field-body" name="newResponseCookiePropertySecure">
                  <input type="text" id="newResponseCookiePropertySecure" required [(ngModel)]="newCookie.properties.secure" class="input"
                    name="newResponseCookiePropertySecure">
                </div>
              </div>
              <div class="field is-horizontal">
                <div class="field-label is-normal">
                  <label for="newResponseCookiePropertyDomain" class="label">domain</label>
                </div>
                <div class="field-body" name="newResponseCookiePropertyDomain">
                  <input type="text" id="newResponseCookiePropertyDomain" required [(ngModel)]="newCookie.properties.domain" class="input"
                    name="newResponseCookiePropertyDomain">
                </div>
              </div>
              <div class="field is-horizontal">
                <div class="field-label is-normal">
                  <label for="newResponseCookiePropertyEncode" class="label">encode</label>
                </div>
                <div class="field-body" name="newResponseCookiePropertyEncode">
                  <input type="text" id="newResponseCookiePropertyEncode" required [(ngModel)]="newCookie.properties.encode" class="input"
                    name="newResponseCookiePropertyEncode">
                </div>
              </div>
              <div class="field is-horizontal">
                <div class="field-label is-normal">
                  <label for="newResponseCookiePropertyExpires" class="label">expires</label>
                </div>
                <div class="field-body" name="newResponseCookiePropertyExpires">
                  <input type="text" id="newResponseCookiePropertyExpires" required [(ngModel)]="newCookie.properties.expires" class="input"
                    name="newResponseCookiePropertyExpires">
                </div>
              </div>
              <div class="field is-horizontal">
                <div class="field-label is-normal">
                  <label for="newResponseCookiePropertyMaxAge" class="label">max-age</label>
                </div>
                <div class="field-body" name="newResponseCookiePropertyMaxAge">
                  <input type="text" id="newResponseCookiePropertyMaxAge" required [(ngModel)]="newCookie.properties.maxAge" class="input"
                    name="newResponseCookiePropertyMaxAge">
                </div>
              </div>
              <div class="field is-horizontal">
                <div class="field-label is-normal">
                  <label for="newResponseCookiePropertyPath" class="label">path</label>
                </div>
                <div class="field-body" name="newResponseCookiePropertyPath">
                  <input type="text" id="newResponseCookiePropertyPath" required [(ngModel)]="newCookie.properties.path" class="input"
                    name="newResponseCookiePropertyPath">
                </div>
              </div>
              <div class="field is-horizontal">
                <div class="field-label is-normal">
                  <label for="newResponseCookiePropertySigned" class="label">signed</label>
                </div>
                <div class="field-body" name="newResponseCookiePropertySigned">
                  <input type="text" id="newResponseCookiePropertySigned" required [(ngModel)]="newCookie.properties.signed" class="input"
                    name="newResponseCookiePropertySigned">
                </div>
              </div>
              <div class="field is-horizontal">
                <div class="field-label is-normal">
                  <label for="newResponseCookiePropertySameSite" class="label">same-site</label>
                </div>
                <div class="field-body" name="newResponseCookiePropertySameSite">
                  <input type="text" id="newResponseCookiePropertySameSite" required [(ngModel)]="newCookie.properties.sameSite"
                    class="input" name="newResponseCookiePropertySameSite">
                </div>
              </div>
            </div>
          </div>
          <div class="field">
            <div class="control">
              <button (click)="addNewCookie()" class="button is-primary">Add</button>
            </div>
          </div>
        </div>
      </div>
      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label for="body" class="label">Body</label>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control">
              <ngx-monaco-editor id="ruleResponseBody" required class="monaco-code-editor" [options]="monacoEditorOptions" [(ngModel)]="projectRule.rule.response.body"
                name="body"></ngx-monaco-editor>
            </div>
          </div>
        </div>
      </div>
    </fieldset>

    <div class="field is-grouped is-grouped-right">
      <p class="control" *ngIf="isConsult()">
        <button (click)="removeProjectRule()" class="button is-primary">Remove</button>
      </p>
      <p class="control" *ngIf="isConsult()">
        <button (click)="startDuplicateProjectRule()" class="button is-primary">Duplicate</button>
      </p>
      <p class="control" *ngIf="isConsult()">
        <button (click)="startUpdateProjectRule()" class="button is-primary">Update</button>
      </p>
      <p class="control" *ngIf="isCreate()">
        <button (click)="cancelCreateProjectRule()" class="button is-light">Cancel</button>
      </p>
      <p class="control" *ngIf="isCreate()">
        <button (click)="createProjectRule()" class="button is-primary">Create</button>
      </p>
      <p class="control" *ngIf="isUpdate()">
        <button (click)="cancelUpdateProjectRule()" class="button is-light">Cancel</button>
      </p>
      <p class="control" *ngIf="isUpdate()">
        <button (click)="updateProjectRule()" class="button is-primary">Confirm</button>
      </p>
      <p class="control" *ngIf="isDuplicate()">
        <button (click)="cancelDuplicateProjectRule()" class="button is-light">Cancel</button>
      </p>
      <p class="control" *ngIf="isDuplicate()">
        <button (click)="duplicateProjectRule()" class="button is-primary">Confirm</button>
      </p>
    </div>
  </form>

</div>
