<div *ngIf='recordedRequest'>
  <form #consultRecordedRequest="ngForm">
    <fieldset>
      <legend class="label is-large">Recorded request</legend>
      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label for="timestamp" class="label">Time</label>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control">
              <input type="text" id="timestamp" [ngModel]="recordedRequest.timestamp | date:'d/M/yy, H:mm:ss'" name="name" class="input"
                readonly>
            </div>
          </div>
        </div>
      </div>
    </fieldset>
    <fieldset>
      <legend class="label ">Request</legend>
      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label for="method" class="label">Method</label>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control">
              <app-config-dropdown id="requestMethod" name="method" configItem="http-methods" readonly="true" [(value)]="recordedRequest.request.method"></app-config-dropdown>
            </div>
          </div>
        </div>
      </div>
      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label for="path" class="label">Path</label>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control">
              <input type="text" id="requestPath" required [ngModel]="recordedRequest.request.path" name="path" class="input" readonly>
            </div>
          </div>
        </div>
      </div>
      <div class="field is-horizontal" *ngIf="recordedRequest.request.path !== recordedRequest.request.fullPath">
        <div class="field-label is-normal">
          <label for="fullPath" class="label">Full path</label>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control">
              <input type="text" id="requestFullPath" required [ngModel]="recordedRequest.request.fullPath" name="fullPath" class="input"
                readonly>
            </div>
          </div>
        </div>
      </div>
      <div class="field is-horizontal" *ngIf="recordedRequest.request.params && recordedRequest.request.params.length > 0">
        <div class="field-label is-normal">
          <label for="params" class="label">Query parameters</label>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control">
              <div *ngFor='let param of recordedRequest.request.params' name="param">
                <strong>{{param.name}}:</strong> {{param.value}}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="field is-horizontal" *ngIf="recordedRequest.request.headers && recordedRequest.request.headers.length > 0">
        <div class="field-label is-normal">
          <label for="requestHeaders" class="label">Headers</label>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control" name="requestHeaders">
              <div *ngFor='let header of recordedRequest.request.headers'>
                <strong>{{header.name}}:</strong> {{header.value}}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="field is-horizontal" *ngIf="recordedRequest.request.cookies && recordedRequest.request.cookies.length > 0">
        <div class="field-label is-normal">
          <label for="requestCookies" class="label">Cookies</label>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control" name="responseCookies">
              <div *ngFor='let cookie of recordedRequest.request.cookies'>
                <strong>{{cookie.name}}:</strong> {{cookie.value}}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="field is-horizontal" *ngIf="recordedRequest.request.body">
        <div class="field-label is-normal">
          <label for="requestBody" class="label">Body</label>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control">
              <ngx-monaco-editor id="requestBody" required class="monaco-code-editor" [options]="monacoEditorOptions" [ngModel]="recordedRequest.request.body"
                name="requestBody"></ngx-monaco-editor>
            </div>
          </div>
        </div>
      </div>
    </fieldset>
    <fieldset>
      <legend class="label ">Response</legend>
      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label for="responseContentType" class="label">Content-Type</label>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control">
              <input type="text" id="responseContentType" required [ngModel]="recordedRequest.response.contentType" name="responseContentType"
                class="input" readonly>
            </div>
          </div>
        </div>
      </div>
      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label for="responseStatusCode" class="label">Status code</label>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control">
              <input type="text" id="responseStatusCode" required [ngModel]="recordedRequest.response.statusCode" name="responseStatusCode"
                class="input" readonly>
            </div>
          </div>
        </div>
      </div>
      <div class="field is-horizontal" *ngIf="recordedRequest.response.headers && recordedRequest.response.headers.length > 0">
        <div class="field-label is-normal">
          <label for="responseHeaders" class="label">Headers</label>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control" name="responseHeaders">
              <div *ngFor='let responseHeader of recordedRequest.response.headers'>
                <strong>{{responseHeader.name}}:</strong> {{responseHeader.value}}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="field is-horizontal" *ngIf="recordedRequest.response.cookies && recordedRequest.response.cookies.length > 0">
        <div class="field-label is-normal">
          <label for="responseCookies" class="label">Cookies</label>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control" name="responseCookies">
              <!-- TODO cookie properties -->
              <div *ngFor='let responseCookie of recordedRequest.response.cookies'>
                <strong>{{responseCookie.name}}:</strong> {{responseCookie.value}}
                <div class="field">
                  <!-- TODO make this a component -->
                  <div class="control">
                    <div class="field is-horizontal">
                      <div class="field-label is-normal">
                        <label for="responseCookiePropertyHttpOnly" class="label">httpOnly</label>
                      </div>
                      <div class="field-body" name="responseCookiePropertyHttpOnly">
                        <input type="text" id="responseCookiePropertyHttpOnly" required [(ngModel)]="responseCookie.properties.httpOnly" class="input"
                          name="responseCookiePropertyHttpOnly" readonly>
                      </div>
                    </div>
                    <div class="field is-horizontal">
                      <div class="field-label is-normal">
                        <label for="responseCookiePropertySecure" class="label">secure</label>
                      </div>
                      <div class="field-body" name="responseCookiePropertySecure">
                        <input type="text" id="responseCookiePropertySecure" required [(ngModel)]="responseCookie.properties.secure" class="input"
                          name="responseCookiePropertySecure" readonly>
                      </div>
                    </div>
                    <div class="field is-horizontal">
                      <div class="field-label is-normal">
                        <label for="responseCookiePropertyDomain" class="label">domain</label>
                      </div>
                      <div class="field-body" name="responseCookiePropertyDomain">
                        <input type="text" id="responseCookiePropertyDomain" required [(ngModel)]="responseCookie.properties.domain" class="input"
                          name="responseCookiePropertyDomain" readonly>
                      </div>
                    </div>
                    <div class="field is-horizontal">
                      <div class="field-label is-normal">
                        <label for="responseCookiePropertyEncode" class="label">encode</label>
                      </div>
                      <div class="field-body" name="responseCookiePropertyEncode">
                        <input type="text" id="responseCookiePropertyEncode" required [(ngModel)]="responseCookie.properties.encode" class="input"
                          name="responseCookiePropertyEncode" readonly>
                      </div>
                    </div>
                    <div class="field is-horizontal">
                      <div class="field-label is-normal">
                        <label for="responseCookiePropertyExpires" class="label">expires</label>
                      </div>
                      <div class="field-body" name="responseCookiePropertyExpires">
                        <input type="text" id="responseCookiePropertyExpires" required [(ngModel)]="responseCookie.properties.expires" class="input"
                          name="responseCookiePropertyExpires" readonly>
                      </div>
                    </div>
                    <div class="field is-horizontal">
                      <div class="field-label is-normal">
                        <label for="responseCookiePropertyMaxAge" class="label">max-age</label>
                      </div>
                      <div class="field-body" name="responseCookiePropertyMaxAge">
                        <input type="text" id="responseCookiePropertyMaxAge" required [(ngModel)]="responseCookie.properties.maxAge" class="input"
                          name="responseCookiePropertyMaxAge" readonly>
                      </div>
                    </div>
                    <div class="field is-horizontal">
                      <div class="field-label is-normal">
                        <label for="responseCookiePropertyPath" class="label">path</label>
                      </div>
                      <div class="field-body" name="responseCookiePropertyPath">
                        <input type="text" id="responseCookiePropertyPath" required [(ngModel)]="responseCookie.properties.path" class="input" name="responseCookiePropertyPath"
                          readonly>
                      </div>
                    </div>
                    <div class="field is-horizontal">
                      <div class="field-label is-normal">
                        <label for="responseCookiePropertySigned" class="label">signed</label>
                      </div>
                      <div class="field-body" name="responseCookiePropertySigned">
                        <input type="text" id="responseCookiePropertySigned" required [(ngModel)]="responseCookie.properties.signed" class="input"
                          name="responseCookiePropertySigned" readonly>
                      </div>
                    </div>
                    <div class="field is-horizontal">
                      <div class="field-label is-normal">
                        <label for="responseCookiePropertySameSite" class="label">same-site</label>
                      </div>
                      <div class="field-body" name="responseCookiePropertySameSite">
                        <input type="text" id="responseCookiePropertySameSite" required [(ngModel)]="responseCookie.properties.sameSite" class="input"
                          name="responseCookiePropertySameSite" readonly>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label for="responseBody" class="label">Body</label>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control">
              <ngx-monaco-editor *ngIf="recordedRequest.response.body" id="responseBody" required class="monaco-code-editor" [options]="monacoEditorOptions"
                [ngModel]="recordedRequest.response.body" name="responseBody" (onInit)="onInitResponseBodyEditor($event)"></ngx-monaco-editor>
            </div>
          </div>
        </div>
      </div>
    </fieldset>

    <div class="field is-grouped is-grouped-right" *ngIf="!doCreateProjectRule">
      <p class="control">
        <button (click)="removeRecordedRequest()" class="button is-primary">Remove</button>
        <button (click)="startCreateProjectRule()" class="button is-primary">Create Rule</button>
      </p>
    </div>
  </form>

</div>


<app-rules-manage *ngIf="doCreateProjectRule" actionType="create" [projectName]="projectName" [initializedRuleForCreation]="initializedRuleForCreation"
  (ruleActionCompleted)="createProjectRuleCompleted($event)"></app-rules-manage>
