<div *ngIf='recordedRequest'>
  <form #consultRecordedRequest="ngForm">
    <fieldset>
      <legend class="label is-large">Recorded request</legend>
      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label for="timestamp" class="label">Time</label>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control">
              <input type="text" id="timestamp" [ngModel]="recordedRequest.timestamp | date:'d/M/yy, H:mm:ss'" name="name" class="input"
                readonly>
            </div>
          </div>
        </div>
      </div>
    </fieldset>
    <fieldset>
      <legend class="label ">Request</legend>
      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label for="method" class="label">Method</label>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control">
              <input type="text" id="requestMethod" required [ngModel]="recordedRequest.request.method" name="method" class="input" readonly>
            </div>
          </div>
        </div>
      </div>
      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label for="path" class="label">Path</label>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control">
              <input type="text" id="requestPath" required [ngModel]="recordedRequest.request.path" name="path" class="input" readonly>
            </div>
          </div>
        </div>
      </div>
      <div class="field is-horizontal" *ngIf="recordedRequest.request.path !== recordedRequest.request.fullPath">
        <div class="field-label is-normal">
          <label for="fullPath" class="label">Full path</label>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control">
              <input type="text" id="requestFullPath" required [ngModel]="recordedRequest.request.fullPath" name="fullPath" class="input"
                readonly>
            </div>
          </div>
        </div>
      </div>
      <div class="field is-horizontal" *ngIf="recordedRequest.request.params && recordedRequest.request.params.length > 0">
        <div class="field-label is-normal">
          <label for="params" class="label">Query parameters</label>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control">
              <div *ngFor='let param of recordedRequest.request.params' name="param">
                <strong>{{param.name}}:</strong> {{param.value}}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="field is-horizontal" *ngIf="recordedRequest.request.headers && recordedRequest.request.headers.length > 0">
        <div class="field-label is-normal">
          <label for="requestHeaders" class="label">Headers</label>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control" name="requestHeaders">
              <div *ngFor='let header of recordedRequest.request.headers'>
                <strong>{{header.name}}:</strong> {{header.value}}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="field is-horizontal" *ngIf="recordedRequest.request.cookies && recordedRequest.request.cookies.length > 0">
        <div class="field-label is-normal">
          <label for="requestCookies" class="label">Cookies</label>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control" name="responseCookies">
              <div *ngFor='let cookie of recordedRequest.request.cookies'>
                <strong>{{cookie.name}}:</strong> {{cookie.value}}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="field is-horizontal" *ngIf="recordedRequest.request.body">
        <div class="field-label is-normal">
          <label for="requestBody" class="label">Body</label>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control">
              <ngx-monaco-editor id="requestBody" required class="monaco-code-editor" [options]="monacoEditorOptions" [ngModel]="recordedRequest.request.body"
                name="requestBody"></ngx-monaco-editor>
            </div>
          </div>
        </div>
      </div>
    </fieldset>
    <fieldset>
      <legend class="label ">Response</legend>
      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label for="responseContentType" class="label">Content-Type</label>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control">
              <input type="text" id="responseContentType" required [ngModel]="recordedRequest.response.contentType" name="responseContentType"
                class="input" readonly>
            </div>
          </div>
        </div>
      </div>
      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label for="responseStatusCode" class="label">Status code</label>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control">
              <input type="text" id="responseStatusCode" required [ngModel]="recordedRequest.response.statusCode" name="responseStatusCode"
                class="input" readonly>
            </div>
          </div>
        </div>
      </div>
      <div class="field is-horizontal" *ngIf="recordedRequest.response.headers && recordedRequest.response.headers.length > 0">
        <div class="field-label is-normal">
          <label for="responseHeaders" class="label">Headers</label>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control" name="responseHeaders">
              <div *ngFor='let responseHeader of recordedRequest.response.headers'>
                <strong>{{responseHeader.name}}:</strong> {{responseHeader.value}}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="field is-horizontal" *ngIf="recordedRequest.response.cookies && recordedRequest.response.cookies.length > 0">
        <div class="field-label is-normal">
          <label for="responseCookies" class="label">Cookies</label>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control" name="responseCookies">
              <!-- TODO cookie properties -->
              <div *ngFor='let responseCookie of recordedRequest.response.cookies'>
                <strong>{{responseCookie.name}}:</strong> {{responseCookie.value}}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label for="responseBody" class="label">Body</label>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control">
              <ngx-monaco-editor *ngIf="recordedRequest.response.body" id="responseBody" required class="monaco-code-editor" [options]="monacoEditorOptions"
                [ngModel]="recordedRequest.response.body" name="responseBody" (onInit)="onInitResponseBodyEditor($event)"></ngx-monaco-editor>
            </div>
          </div>
        </div>
      </div>
    </fieldset>

    <div class="field is-grouped is-grouped-right">
      <p class="control">
        <button (click)="createProjectRule()" class="button is-primary">Create Rule</button>
      </p>
    </div>
  </form>

</div>
