<div *ngIf="listProjectProjectFailed" class="notification is-danger">
  {{listProjectProjectFailedUserMessage}}
</div>
<ul *ngIf="!listProjectProjectFailed">
  <li *ngFor='let project of projects' class="box">
    <div *ngIf="!project.updateOngoing" class="level">
      <div class="level-item level-left" (click)="selectProject(project)">
        {{project.name}}
      </div>
      <div class="level-right">
        <button class="button level-item" [class.is-success]="project.mockServer.status === 'started'" [class.is-primary]="project.mockServer.status !== 'started'"
          (click)="toggleMockServerDetails(project)">Mock server</button>
        <button class="button level-item" [class.is-success]="project.learningModeServer.status === 'started'" [class.is-primary]="project.learningModeServer.status !== 'started'"
          (click)="toggleLearningModeServerDetails(project)">Learning mode server</button>
        <button class="button is-primary level-item" (click)="removeProject(project)">Remove</button>
        <button class="button is-primary level-item" (click)="startProjectUpdate(project)">Update</button>
      </div>
    </div>
    <form #updateProjectForm="ngForm" *ngIf="project.updateOngoing" (ngSubmit)="updateProject(project)" class="level">
      <div class="control level-item level-left">
        <input type="text" id="projectName" required [(ngModel)]="updatedProject.name" name="nameOfProjectToUpdate" class="input"
          placeholder="Project name">
      </div>
      <div class="control level-right">
        <button type="button" class="button is-light level-item" (click)="cancelProjectUpdate(project)">Cancel</button>
        <button type="submit" class="button is-primary level-item" [disabled]="!updateProjectForm.form.valid">Update</button>
      </div>
    </form>
    <div *ngIf="(project.updateOngoing || project.deleteOngoing) && updateOrDeleteProjectFailed" class="help is-danger">
      {{updateOrDeleteProjectFailedUserMessage}}
    </div>
    <form #mockServerForm="ngForm" *ngIf="project.showServerDetails === 'mockServer'" (ngSubmit)="startMockServer(project)" class="level">
      <div class="control level-item level-left">
        <input type="text" id="mockServerPort" required [(ngModel)]="project.mockServer.port" name="mockServerPort" class="input"
          placeholder="Port">
        <input type="text" id="mockServerBindAddress" required [(ngModel)]="project.mockServer.bindAddress" name="mockServerBindAddress"
          class="input" placeholder="Bind address">
      </div>
      <div class="control level-right">
        <button type="button" class="button is-light level-item" [disabled]="project.mockServer.status !== 'started'" (click)="stopMockServer(project)">Stop</button>
        <button type="submit" class="button is-success level-item" [disabled]="!mockServerForm.form.valid">{{project.mockServer.status === 'started' ? 'Restart' : 'Start'}}</button>
      </div>
    </form>
    <form #learningModeServerForm="ngForm" *ngIf="project.showServerDetails === 'learningModeServer'" (ngSubmit)="startLearningModeServer(project)"
      class="level">
      <div class="control level-item level-left">
        <div class="select">
          <select id="learningModeServerType" required [(ngModel)]="project.learningModeServer.type" name="learningModeServerType">
            <option value=""></option>
            <option value="reverse-proxy">Reverse proxy</option>
            <option value="forward-proxy">Forward proxy</option>
          </select>
        </div>
        <!-- <input type="text" id="learningModeServerType" required [(ngModel)]="project.learningModeServer.type" name="learningModeServerType"
          class="input" placeholder="Type (reverse-proxy / forward-proxy)"> -->
        <input type="text" id="learningModeServerPort" required [(ngModel)]="project.learningModeServer.port" name="learningModeServerPort"
          class="input" placeholder="Port">
        <input type="text" id="learningModeServerBindAddress" required [(ngModel)]="project.learningModeServer.bindAddress" name="learningModeServerBindAddress"
          class="input" placeholder="Bind address">
        <input type="text" id="learningModeReverseProxyServerTargetHost" required [(ngModel)]="project.learningModeServer.targetHost" name="learningModeReverseProxyServerTargetHost"
          class="input" placeholder="Target" *ngIf="project.learningModeServer.type === 'reverse-proxy'">
      </div>
      <div class="control level-right">
        <button type="button" class="button is-light level-item" [disabled]="project.learningModeServer.status !== 'started'" (click)="stopLearningModeServer(project)">Stop</button>
        <button type="submit" class="button is-success level-item" [disabled]="!learningModeServerForm.form.valid">{{project.learningModeServer.status === 'started' ? 'Restart' : 'Start'}}</button>
      </div>
    </form>
    <div *ngIf="project.showServerDetails && serverActionFailed" class="help is-danger">
      {{serverActionFailedUserMessage}}
    </div>
  </li>
  <li class="box">
    <form #newProjectForm="ngForm" (ngSubmit)="createNewProject()" class="level">
      <div class="control level-item level-left">
        <input type="text" id="projectName" required [(ngModel)]="newProject.name" name="nameOfProjectToCreate" class='input' placeholder="New project"
          #nameOfProjectToCreate="ngModel">
      </div>
      <div class="control level-right">
        <button type="submit" class="button is-primary level-item" [disabled]="!newProjectForm.form.valid">Create</button>
      </div>
    </form>
    <div *ngIf="createNewProjectFailed" class="help is-danger">
      {{createNewProjectFailedUserMessage}}
    </div>
  </li>
</ul>
